@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Helvetica';
    src: url('../public/assets/font/Helvetica.ttf') format('truetype');
}

body {
    font-family: 'helvetica', sans-serif;
}