@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Helvetica';
    src: url('../public/assets/font/Helvetica.ttf') format('truetype');
}

body {
    font-family: 'helvetica', sans-serif;
}

@media (max-width:770px){
.slick-list .slick-track{
  display: flex;
  gap: 6px;
}
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(103.58deg, #0078ff 6.83%, #37eebc 109.09%);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(103.58deg, #0078ff 6.83%, #37eebc 109.09%);
}